<?xml version="1.0"?>
<configuration>
  <!-- 
      Примечание. Чтобы не изменять этот файл вручную, можно воспользоваться 
      веб-администрированием, чтобы настроить параметры своего приложения. Используйте
      параметр конфигурации Website->Asp.Net в среде Visual Studio.
      Полный список параметров с комментариями см. в файле 
      machine.config.comments, который обычно находится в папке 
      \Windows\Microsoft.Net\Framework\vx.x\Config 
  -->
  <appSettings/>
  <connectionStrings/>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
        Установите compilation debug="true", чтобы вставлять отладочные 
        символы в компилируемые страницы. Поскольку это 
        влияет на производительность, задавайте это значение только 
        во время разработки.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
        Раздел <authentication> включает конфигурацию 
        режима проверки подлинности системы безопасности, используемую 
        в ASP.NET, которая позволяет идентифицировать входящего пользователя. 
    -->
    <authentication mode="Windows"/>
    <!--
        Раздел <customErrors> включает конфигурацию, 
        отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
        во время выполнения запроса. В частности, 
        он позволяет разработчикам настраивать HTML-страницы ошибок, 
        которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      Раздел system.webServer требуется для запуска ASP.NET AJAX из Интернета
      служб IIS 7.0.  Этот раздел необязателен для предыдущей версии IIS.
  -->
  <system.webServer>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <!--<bindings />
    <client />-->
    <services>
      <service name="PipeVolumeCalculationService" behaviorConfiguration="ServiceBehavior">
        <!-- !!! default name="Service" !!!-->
        <!-- Service Endpoints -->
        <endpoint address="http://localhost:51085/Service.svc" binding="wsHttpBinding" contract="IPipeVolumeCalculator">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <!-- /services -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="true"/>
          <!--Чтобы при сбое получать подробные сведения об исключении для отладки, задайте следующему параметру значение "true". Чтобы информация об исключении не выдавалась, задайте до развертывания значение "false". -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- /behaviors -->
  </system.serviceModel>
</configuration>